<h1>It's Ridic! PIM</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">New Contact</h3> 
  </div> 
  <div class="panel-body">
    <%= link_to new_contact_path, class: "btn btn-warning" do %>
      <i class="glyphicon glyphicon-user"> Add Vendor</i>
    <% end %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">New Product</h3> 
  </div> 
  <div class="panel-body">
    <%= link_to new_product_path, class: "btn btn-warning" do %>
      <i class="glyphicon glyphicon-barcode"> Add Product</i>
    <% end %>
  </div> 
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">New Order</h3> 
  </div> 
  <div class="panel-body">
    <%= link_to new_order_path, class: "btn btn-warning" do %>
      <i class="glyphicon glyphicon-list-alt"> Add Order</i>
    <% end %>
  </div> 
</div>
