<p id="notice"><%= notice %></p>

<h1>Listing Adjustments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Adjustment type</th>
      <th>Adjusted quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="all-adjustments">
    <%= render @adjustments %>
  </tbody>
</table>
<%= render "new_adjustment_form" %>
<br>

<%= link_to 'New Adjustment', new_adjustment_path %>
